<!DOCTYPE html>
<html>
    <head>
        <title>Some Website</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>Site is updated.</p>
    </body>
</html>
